<!-- <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4 profile-banner" style="background-image: url('../../../assets/images/profile-male.jpeg');background-position: right top;">
    <div class="container py-2">
      <div class="row align-items-end">
        <div class="col-lg-7">
          <h2 class="mb-0"><span>Welcome</span> Admin</h2>
        </div>
      </div>
    </div>
</div> -->

<div class="container-fluid admin-container">
    <div class="row mx-0 border-top">
        <div class="col-lg-2 pb-4 user-info px-0">
            <nav class="list-group">
            <a class="list-group-item py-4 admin-title"><i class="icon-tag_faces fa-2x"></i><span>Admin Panel</span></a>
            <a class="list-group-item"><i class="icon-personal_video"></i><span>Link1</span></a>
            <a class="list-group-item"><i class="icon-my_location"></i><span>Link2</span></a>
            <a class="list-group-item"><i class="icon-work"></i><span>Link3</span></a>
            </nav>
        </div>
        <div class="col-lg-10 py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <div class="card border-left-cust shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-header text-uppercase mb-1">Total No of Students</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">4,000</div>
                                </div>
                                <div class="col-auto">
                                    <i class="icon-user fa-2x text-gray-300"></i>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total No of schools</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">490</div>
                                </div>
                                <div class="col-auto">
                                    <i class="icon-user fa-2x text-gray-300"></i>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-5">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">No. Of Girl Students</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">2,200</div>
                                </div>
                                <div class="col-auto">
                                    <i class="icon-user fa-2x text-gray-300"></i>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                    <div class="col-md-3 mb-5">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">No. of Boys Student</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">1,800</div>
                                </div>
                                <div class="col-auto">
                                    <i class="icon-user fa-2x text-gray-300"></i>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <!-- <div class="col-md-2">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total No of Students</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">4,000</div>
                                </div>
                                <div class="col-auto">
                                    <i class="icon-user fa-2x text-gray-300"></i>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="col-md-2">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total No of Students</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">4,000</div>
                                </div>
                                <div class="col-auto">
                                    <i class="icon-user fa-2x text-gray-300"></i>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>    -->
                </div>
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <div class="card shadow p-4">
                            <app-bar-charts></app-bar-charts>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <div class="card shadow p-4">
                            <app-pie-charts></app-pie-charts>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <div class="card shadow p-4">
                            <app-line-charts></app-line-charts>
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <div class="card shadow p-4">
                            <app-doughnut-charts></app-doughnut-charts>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>