<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4 profile-banner" style="background-image: url('../../../assets/images/profile-male.jpeg');background-position: right top;">
    <div class="container py-2">
      <div class="row align-items-end">
        <div class="col-lg-7">
          <h2 class="mb-0">Trivia</h2>
        </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col md-12 py-5">
            <h4 class="alert bg-profile">Sample Questions</h4>
            <h6>1. Which is the best password from the following list?</h6>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 py-1">Dfku_f!@#12489+7+</li>
                <li class="list-group-item border-0 py-1">Fluffy123</li>
                <li class="list-group-item border-0 py-1">BichonFrise</li>
                <li class="list-group-item border-0 py-1">#1G00dD@wG</li>
                <li class="list-group-item border-0 py-1">Dog</li>
            </ul>
            <hr>
            <h6>2. What is SSL also referred to as in web browsers?</h6>
            <ul class="list-group border-0">
                
                <li class="list-group-item border-0 py-1">SecureNow</li>
                <li class="list-group-item border-0 py-1">SMTP</li>
                <li class="list-group-item border-0 py-1">FTP</li>
                <li class="list-group-item border-0 py-1">HTTPS</li>
            </ul>
            <hr>
            <h6>3. A collection of computers and devices connected together via communications devices and media.</h6>
            <ul class="list-group border-0">
                <li class="list-group-item border-0 py-1">Dfku_f!@#12489+7+</li>
                <li class="list-group-item border-0 py-1">Application</li>
                <li class="list-group-item border-0 py-1">Network</li>
                <li class="list-group-item border-0 py-1">File Sharing</li>
                <li class="list-group-item border-0 py-1">Motherboard</li>
            </ul>
        </div>
    </div>
</div>    
<app-footer></app-footer>