<!-- <div class="banner-wrapper">
    
        <img class="img-fluid img-banner" src="../../../assets/images/landing-img.jpg" alt="Cyber Security">
        <div class="img-loader">Loading...</div>
    
</div> -->

<div class="banner-wrapper">
        <div class="banner-img">
                        <!-- <div class="col-xs-8 col-sm-5 col-md-3 col-lg-3 login-container col-centered" id="Log">
                                <div id="clv">
                                        <div class="login-icon">
                                        <div><span class="icon-border"></span><i class="fa fa-user-o" aria-hidden="true"></i></div>
                                        </div>
                                        <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" ID="txtUserName">
                                        </div>
                                        <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" ID="txtPassword">
                                        </div>
                                        
                                        <div class="col-md-6 remember-label"><div> Remember Me</div>
                                        <div class="col-md-6 forgot-label"><a href="#" class="forgot_pwd">Forgot your password?</a></div>
                                        <div class="footer_line"></div>
                                        <div class="otp_logo"><img alt="" src="img/one_tree_plantation.png"/></div>
                                </div>
                        </div>
      
        </div> -->
</div>