
<div class="owl-carousel-wrapper d-none d-lg-block">
  <div class="owl-carousel" #carousel>
      <div class="intro-section" style="background-image: url('../../../assets/images/main-banner-options_dark.jpg');background-position: left center;">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 mx-auto text-center">
              <!-- <h1>Information Security Awareness</h1> -->
            </div>
          </div>
        </div>
      </div>

      <div class="intro-section" style="background-image: url('../../../assets/images/main-banner-options2.jpg');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 mx-auto text-center">
              <!-- <h1>Women in Cybers Security</h1> -->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4 profile-banner d-lg-none" style="background-image: url('../../../assets/images/school.jpg');background-position: center top;">
  <div class="container py-2">
    <div class="row align-items-end">
      <div class="col-lg-7">
        <h2 class="mb-0 text-center" style="font-weight: 300;">Cyber Security</h2>
        <h2 class="text-center" style="font-weight: 300;">Awareness</h2>
      </div>
    </div>
  </div>
</div>

<div class="news-updates pb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="section-heading">
            <h2 class="text-theme">News &amp; Updates</h2>
            <a href="#">Read All News</a>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="post-entry-big">
                <a href="#" class="img-link"><img src="../../../assets/images/news_img.jpg" alt="Image" class="img-fluid"></a>
                <div class="post-content">
                  <div class="post-meta"> 
                    <a href="#">Jan 3, 2020</a>
                    <span class="mx-1">/</span>
                    <a href="https://www.jagranjosh.com/current-affairs/maharashtra-launches-cyber-safe-women-initiative-1578033411-1" target="_blank">Cyber Safe Women</a>
                  </div>
                  <h3 class="post-heading"><a href="https://www.jagranjosh.com/current-affairs/maharashtra-launches-cyber-safe-women-initiative-1578033411-1" target="_blank">Maharashtra Government launches ‘Cyber Safe Women’ initiative</a></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="post-entry-big horizontal d-flex mb-4">
                <a href="#" class="img-link mr-4"><img src="../../../assets/images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                <div class="post-content">
                  <div class="post-meta">
                    <a href="#">Jan 20, 2020</a>
                    <span class="mx-1">/</span>
                    <a href="#">News</a>, <a href="#">Updates</a>
                  </div>
                  <h3 class="post-heading"><a href="https://mha.gov.in/division_of_mha/cyber-and-information-security-cis-division" target="_blank">Cyber And Information Security (C&IS) Division</a></h3>
                </div>
              </div>

              <div class="post-entry-big horizontal d-flex mb-4">
                <a href="#" class="img-link mr-4"><img src="../../../assets/images/Cyber-Security.jpg" alt="Image" class="img-fluid"></a>
                <div class="post-content">
                  <div class="post-meta">
                    <a href="#">Feb 12, 2020</a>
                    <span class="mx-1">/</span>
                    <a href="#">News</a>, <a href="#">Updates</a>
                  </div>
                  <h3 class="post-heading"><a href="https://egov.eletsonline.com/2017/04/decoding-the-cyber-security-of-maharashtra/" target="_blank">Decoding The Cyber Security of Maharashtra</a></h3>
                </div>
              </div>

              <div class="post-entry-big horizontal d-flex mb-4">
                <a href="#" class="img-link mr-4"><img src="../../../assets/images/73317190.jpg" style="height: 96px;" alt="Image" class="img-fluid"></a>
                <div class="post-content">
                  <div class="post-meta">
                    <a href="#">Jan 17, 2020</a>
                    <span class="mx-1">/</span>
                    <a href="#">News</a>, <a href="#">Updates</a>
                  </div>
                  <h3 class="post-heading"><a href="https://government.economictimes.indiatimes.com/news/secure-india/cybersecurity-a-worry-for-future-it-secretary/73317072" target="_blank">Cybersecurity a worry for future: IT Secretary</a></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="section-heading">
            <h2 class="text-theme">Upcoming Events</h2>
            <a href="#">View All Events</a>
          </div>
          <div>
            <ul class="list-group">
                <li class="list-group-item">
                  <h5 class="app-text-color" style="font-size: 18px;">Cyber Security Conferences In India</h5>
                  <p>International Conference On Emerging, Trends in Engineering , Science & Technology and Management (ICESTM).<span> May 22, 2020</span></p>
                  <a href="https://infosec-conferences.com/country/india/" target="_blank">More</a>
                </li>
                <li class="list-group-item">
                    <h5 class="app-text-color" style="font-size: 18px;">Cyber Security Summit : Mumbai</h5>  
                    <p>June 02, 2020</p>
                    <a href="https://events.ismg.io/event/cybersecurity-summit-mumbai-2020/" target="_blank">Register</a>
                </li>
            </ul>
          </div>
          <!-- <a href="https://events.ismg.io/event/cybersecurity-summit-mumbai-2020" target="_blank" class="video-1 mb-4">
            <img src="../../../assets/images/Cyber-security-summit1-2020.jpg" alt="Image" class="img-fluid">
          </a>

          <a href="https://infosec-conferences.com/country/india/" target="_blank" class="video-1 mb-4">
              <img src="../../../assets/images/GISEC.jpg" alt="Image" class="img-fluid">
          </a> -->
        </div>
      </div>
    </div>
</div>

<div class="blog-section pt-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-4">
          <h2 class="text-theme">
            Blogs
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="blog col-lg-6">
          <div class="blog-vcard d-flex align-items-center mb-3">
            <img src="../../../assets/images/amit_G.png" alt="Image" class="img-fluid mr-3">
            <div>
              <h4>Impact on privacy because of smartphones </h4>
              <h3>Amit Ghodekar, <span class="desig">SVP & CISO at Motilal Oswal Financial Services Ltd.</span></h3>
            </div>
          </div>
          <div>
            <p>&ldquo;How much safe is Digital World? My Article in recent "Saamna"  newspaper based on the privacy concerns over the power of new Mobiles & it's camera capacity to take 100X Zoom photographs and Videos.&rdquo; <a href="https://www.linkedin.com/feed/update/urn:li:activity:6640477242696785920/" target="_blank">more...</a></p>
          </div>
          
        </div>  
        <div class="blog col-lg-6">
          <div class="blog-vcard d-flex align-items-center mb-3">
            <img src="../../../assets/images/Daji_sir.png" alt="Image" class="img-fluid mr-3">
            <div>
              <h4>Better safe than sorry </h4>
              <h3>Sharveya Sirdeshpande, <span class="desig">Principal CEO at 9USRcraft</span></h3>
            </div>
          </div>
          <div>
            <p>A thought provoking message. Experts are predicting huge down fall of Economy due to the Corona. Do not know much about these experts. But I know for sure that they do not know anything about the value of human motivation and determined efforts. <a href="https://www.linkedin.com/feed/update/urn:li:activity:6653886321968406529/" target="_blank">more...</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>