.profile-banner{
    font-family: 'Roboto', sans-serif;
}
.profile-banner h2{
    font-weight: 300;
}
.profile-content{
    font-family: 'Roboto', sans-serif;
}

.user-info .list-group-item{
    display: flex;
    align-items: baseline;
    color: #34383a;
}
.user-info .list-group-item i{
    font-size: 17px;
    padding-right: 10px;
}

